In [1]:
import rdflib
from SPARQLWrapper import SPARQLWrapper, JSON
import pandas as pd
import os.path
import requests
import time
import json
from jsonpath_ng import jsonpath, parse
import urllib.parse
import csv

/Users/aiglesias/GitHub/solarchem-ontology

In [3]:
try:
    os.chdir(os.path.join(os.getcwd(), 'knowledge-graph')) 
    print(os.getcwd())
except:
    pass

/Users/aiglesias/GitHub/solarchem-ontology/knowledge-graph

# Construction, enrichment and evaluation of the Solarchem Knowledge Graph

## Mapping generation
Running Mapeathor to create the mapping file in YARRRML

In [6]:
!python -m mapeathor -i mappings/solarchem-mapping.xlsx -l yarrrml -o mappings/solarchem-mapping

Generating mapping file
Your mapping file is in mappings/solarchem-mapping.yml

## KG construction
Running Morph-KGC to construct the KG with the mapping generated in the previous step and the data in `./data`.

In [7]:
!python -m morph_kgc config.ini

/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/mapping/mapping_parser.py:390: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  fnml_df = fnml_df.applymap(str)
INFO | 2024-05-13 18:03:23,548 | 122 mapping rules retrieved.
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/mapping/mapping_parser.py:485: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  self.rml_df = self.rml_df.replace(r'^\s*$', np.nan, regex=True)
INFO | 2024-05-13 18:03:23,625 | Mapping partition with 32 groups generated.
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/mapping/mapping_partitioner.py:182: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  f"{self.rml_df['mapping_partition'].value_counts()[0]}.")
INFO | 2024-05-13 18:03:23,630 | Maximum number of rules within mapping group: 26.
INFO | 2024-05-13 18:03:23,630 | Mappings processed in 2.690 seconds.
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(str)
/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/morph_kgc/materializer.py:36: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.

## KG validation
Quick validation to check that the KG is being generated with all the needed properties of the ontology.

In [40]:
g = rdflib.Graph()
g.parse("result/solarchem.nt")
print(len(g))

Failed to convert Literal lexical form to value. Datatype=http://www.w3.org/2001/XMLSchema#float, Converter=<class 'float'>
Traceback (most recent call last):
  File "/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/rdflib/term.py", line 2119, in _castLexicalToPython
    return conv_func(lexical)  # type: ignore[arg-type]
ValueError: could not convert string to float: '4 ,6 '
Failed to convert Literal lexical form to value. Datatype=http://www.w3.org/2001/XMLSchema#float, Converter=<class 'float'>
Traceback (most recent call last):
  File "/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/rdflib/term.py", line 2119, in _castLexicalToPython
    return conv_func(lexical)  # type: ignore[arg-type]
ValueError: could not convert string to float: '0.5 + 1.0'
Failed to convert Literal lexical form to value. Datatype=http://www.w3.org/2001/XMLSchema#float, Converter=<class 'float'>
Traceback (most recent call last):
  File "/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/rdflib/term.py", line 2119, in _castLexicalToPython
    return conv_func(lexical)  # type: ignore[arg-type]
ValueError: could not convert string to float: '0.65:1'
Failed to convert Literal lexical form to value. Datatype=http://www.w3.org/2001/XMLSchema#float, Converter=<class 'float'>
Traceback (most recent call last):
  File "/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/rdflib/term.py", line 2119, in _castLexicalToPython
    return conv_func(lexical)  # type: ignore[arg-type]
ValueError: could not convert string to float: '0.26:1'
Failed to convert Literal lexical form to value. Datatype=http://www.w3.org/2001/XMLSchema#float, Converter=<class 'float'>
Traceback (most recent call last):
  File "/Users/aiglesias/miniconda3/envs/kgc/lib/python3.9/site-packages/rdflib/term.py", line 2119, in _castLexicalToPython
    return conv_func(lexical)  # type: ignore[arg-type]
ValueError: could not convert string to float: '0.92:1'

475783

### Articles

In [41]:
q_res = g.query("""    
    PREFIX bibo: <http://purl.org/ontology/bibo/>
    PREFIX soa: <https://semopenalex.org/ontology/>
    PREFIX solar: <http://w3id.org/solar/o/core#>

    SELECT (COUNT (DISTINCT ?article) AS ?count)
    WHERE {
        ?article solar:hasExperimentExecution ?exp .
    }

""")

for row in q_res:
    print(f"Number of articles: {row['count'].value}")

Number of articles: 1093

In [ ]:
# old model (no soa)
q_res = g.query("""    
    PREFIX bibo: <http://purl.org/ontology/bibo/>
    PREFIX dc: <http://purl.org/dc/elements/1.1/>

    SELECT (COUNT (DISTINCT ?article) AS ?count)
    WHERE {
        ?article a bibo:Article ;
            bibo:doi ?doi ;
            bibo:abstract ?abs ;
            bibo:volume ?volume ;
            dc:title ?title ;
            bibo:issue ?issue ;
            dc:date ?date ;
            bibo:pageStart ?page .
    }

""")

for row in q_res:
    print(f"Number of articles with all properties: {row['count'].value}")

Number of articles with all properties: 415

In [ ]:
# old model (no soa)
q_res = g.query("""    
    PREFIX bibo: <http://purl.org/ontology/bibo/>
    PREFIX dc: <http://purl.org/dc/elements/1.1/>
    PREFIX solar: <http://w3id.org/solar/o/core#>

    SELECT (COUNT (DISTINCT ?article) AS ?count)
    WHERE {
        ?article a bibo:Article ;
            solar:hasExperimentExecution ?expexec .
    }

""")

for row in q_res:
    print(f"Number of articles with experiments associated: {row['count'].value}")

Number of articles with experiments associated: 1096

### Experiment Executions

In [ ]:
q_res = g.query("""    
    PREFIX bibo: <http://purl.org/ontology/bibo/>
    PREFIX dc: <http://purl.org/dc/elements/1.1/>
    PREFIX solar: <http://w3id.org/solar/o/core#>

    SELECT (COUNT (DISTINCT ?input) AS ?count)
    WHERE {
        ?expexec a solar:ExperimentExecution ;
            solar:reportedIn ?article ;
            prov:used ?input ;
            solar:hasCondition ?condition ;
            solar:hasLightSource ?lightsource .
    }

""")

for row in q_res:
    print(f"Number of experiments: {row['count'].value}")

Number of experiments: 18315

### Conditions

In [ ]:
## Time, pressure, pH, temperature
q_res = g.query("""    
    PREFIX bibo: <http://purl.org/ontology/bibo/>
    PREFIX dc: <http://purl.org/dc/elements/1.1/>
    PREFIX solar: <http://w3id.org/solar/o/core#>
    PREFIX solarpc: <http://w3id.org/solar/o/pc#>
    PREFIX qudt: <http://qudt.org/2.1/schema/qudt>

    SELECT ?condition ?value ?unit
    WHERE {
        ?condition a solar:TimeCondition ; # solar:PressureCondition solar:pHCondition solar:TemperatureCondition
            qudt:numericValue ?value ;
            qudt:unit ?unit .
    } LIMIT 10
""")

for row in q_res:
    print(f"{row.condition} {row.value} {row.unit} ")

In [ ]:
q_res = g.query("""    
    PREFIX bibo: <http://purl.org/ontology/bibo/>
    PREFIX dc: <http://purl.org/dc/elements/1.1/>
    PREFIX solar: <http://w3id.org/solar/o/core#>
    PREFIX solarpc: <http://w3id.org/solar/o/pc#>
    PREFIX qudt: <http://qudt.org/2.1/schema/qudt>

    SELECT  (COUNT (DISTINCT ?expexec) AS ?count)
    WHERE {
        ?expexec solar:hasCondition solar:SlurryReactor ; 
            #solar:hasCondition [ 
            #    a solar:ReactorVolumeCondition ;
            #    qudt:numericValue ?volume ] ;
            #solar:hasCondition [ 
            #    a solar:ResidenceTimeCondition ;
            #    qudt:numericValue ?restime ] ;
    } LIMIT 10
""")

for row in q_res:
    print(f"{row['count'].value}")

3258

In [ ]:
## Reactor medium and operation mode
q_res = g.query("""    
    PREFIX bibo: <http://purl.org/ontology/bibo/>
    PREFIX dc: <http://purl.org/dc/elements/1.1/>
    PREFIX solar: <http://w3id.org/solar/o/core#>
    PREFIX solarpc: <http://w3id.org/solar/o/pc#>
    PREFIX qudt: <http://qudt.org/2.1/schema/qudt>

    SELECT (COUNT (DISTINCT ?expexec) AS ?count)
    WHERE {
        ?expexec solar:hasCondition solar:GasMedium ; # solar:GasMedium
            solar:hasCondition solar:BatchMode . # solar:ContinuousMode
    } 
""")

for row in q_res:
    print(row['count'].value)

2053

In [44]:
q_res = g.query("""    
    PREFIX bibo: <http://purl.org/ontology/bibo/>
    PREFIX dc: <http://purl.org/dc/elements/1.1/>
    PREFIX solar: <http://w3id.org/solar/o/core#>
    PREFIX solarpc: <http://w3id.org/solar/o/pc#>
    PREFIX qudt: <http://qudt.org/2.1/schema/qudt/>
    PREFIX obi: <http://purl.obolibrary.org/obo/OBI_>

    SELECT DISTINCT (COUNT (DISTINCT ?lightSource) AS ?count)
    WHERE {
        ?lightSource a obi:0400065 ;
            solar:hasLamp ?lamp ;
            solar:hasWavelength ?wl ;
            solar:hasIrradiance [qudt:numericValue ?irradiance] ;
            solar:hasPower [qudt:numericValue ?power] ;
            solar:hasIlluminatedArea [qudt:numericValue ?illum_area] .
            
    } 
""")

for row in q_res:
    print(f"Number of lightsources with all properties: {row['count'].value}")

Number of lightsources with all properties: 165

### Inputs

In [72]:
q_res = g.query("""    
    PREFIX bibo: <http://purl.org/ontology/bibo/>
    PREFIX dc: <http://purl.org/dc/elements/1.1/>
    PREFIX solar: <http://w3id.org/solar/o/core#>
    PREFIX solarpc: <http://w3id.org/solar/o/pc#>
    PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
    PREFIX qudt: <http://qudt.org/2.1/schema/qudt/>

    SELECT (COUNT (DISTINCT ?input) AS ?count)
    WHERE {
        ?input a solar:Input ;
            rdfs:label ?label ;
            solar:hasRole solar:Catalyst ;
            qudt:numericValue ?value ;
            qudt:unit ?unit ;
            solar:hasBandGap ?bgap ;
            solar:hasSurfaceArea ?surfacearea .
    }

""")

for row in q_res:
    print(f"Number of catalyts with all properties: {row['count'].value}")

Number of catalyts with all properties: 6156

In [69]:
q_res = g.query("""    
    PREFIX bibo: <http://purl.org/ontology/bibo/>
    PREFIX dc: <http://purl.org/dc/elements/1.1/>
    PREFIX solar: <http://w3id.org/solar/o/core#>
    PREFIX solarpc: <http://w3id.org/solar/o/pc#>
    PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
    PREFIX qudt: <http://qudt.org/2.1/schema/qudt/>

    SELECT (COUNT (DISTINCT ?cocatalyst) AS ?count) 
    WHERE {
        ?cocatalyst a solar:Input ;
            rdfs:label ?label ;
            solar:hasRole solar:Co-catalyst ;
            qudt:floatPercentage ?percent .
    }

""")

for row in q_res:
    print(f"Number of co-catalyts with all properties: {row['count'].value}")

Number of co-catalyts with all properties: 3176

In [73]:
q_res = g.query("""    
    PREFIX bibo: <http://purl.org/ontology/bibo/>
    PREFIX dc: <http://purl.org/dc/elements/1.1/>
    PREFIX solar: <http://w3id.org/solar/o/core#>
    PREFIX solarpc: <http://w3id.org/solar/o/pc#>
    PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
    PREFIX qudt: <http://qudt.org/2.1/schema/qudt/>

    SELECT (COUNT (DISTINCT ?support) AS ?count) 
    WHERE {
        ?support a solar:Input ;
            rdfs:label ?label ;
            solar:hasRole solarpc:Support ;
            qudt:floatPercentage ?percent .
    }

""")

for row in q_res:
    print(f"Number of supports with all properties: {row['count'].value}")

Number of supports with all properties: 174

In [74]:
q_res = g.query("""    
    PREFIX bibo: <http://purl.org/ontology/bibo/>
    PREFIX dc: <http://purl.org/dc/elements/1.1/>
    PREFIX solar: <http://w3id.org/solar/o/core#>
    PREFIX solarpc: <http://w3id.org/solar/o/pc#>
    PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
    PREFIX qudt: <http://qudt.org/2.1/schema/qudt/>

    SELECT (COUNT (DISTINCT ?dopant) AS ?count) 
    WHERE {
        ?dopant a solar:Input ;
            rdfs:label ?label ;
            solar:hasRole solar:Dopant ;
            qudt:floatPercentage ?percent .
    }

""")

for row in q_res:
    print(f"Number of dopants with all properties: {row['count'].value}")

Number of dopants with all properties: 541

In [75]:
q_res = g.query("""    
    PREFIX bibo: <http://purl.org/ontology/bibo/>
    PREFIX dc: <http://purl.org/dc/elements/1.1/>
    PREFIX solar: <http://w3id.org/solar/o/core#>
    PREFIX solarpc: <http://w3id.org/solar/o/pc#>
    PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
    PREFIX qudt: <http://qudt.org/2.1/schema/qudt/>

    SELECT (COUNT (DISTINCT ?dye) AS ?count) 
    WHERE {
        ?dye a solar:Input ;
            rdfs:label ?label ;
            solar:hasRole solarpc:Dye ;
            qudt:floatPercentage ?percent .
    }

""")

for row in q_res:
    print(f"Number of dyes with all properties: {row['count'].value}")

Number of dyes with all properties: 33

## Experiment outputs generation

In [4]:
!python -m mapeathor -i mappings/outputs-solarchem-mapping.xlsx -l yarrrml -o mappings/outputs-solarchem-mapping

Generating mapping file
Your mapping file is in mappings/outputs-solarchem-mapping.yml

In [5]:
!python -m morph_kgc config-outputs.ini

INFO | 2024-06-20 12:54:32,603 | 334 mapping rules retrieved.
INFO | 2024-06-20 12:54:32,647 | Mapping partition with 324 groups generated.
INFO | 2024-06-20 12:54:32,647 | Maximum number of rules within mapping group: 2.
INFO | 2024-06-20 12:54:32,648 | Mappings processed in 1.827 seconds.
INFO | 2024-06-20 12:54:36,739 | Number of triples generated in total: 1837300.
INFO | 2024-06-20 12:54:36,739 | Materialization finished in 4.089 seconds.

In [6]:
g = rdflib.Graph()
g.parse("result/outputs-solarchem.nt")
print(len(g))

1837300

In [21]:
q_res = g.query("""    
    PREFIX bibo: <http://purl.org/ontology/bibo/>
    PREFIX dc: <http://purl.org/dc/elements/1.1/>
    PREFIX solar: <https://w3id.org/solar/o/core#>
    PREFIX solarpc: <https://w3id.org/solar/o/pc#>
    PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
    PREFIX qudt: <http://qudt.org/2.1/schema/qudt/>
    PREFIX prov: <http://www.w3.org/ns/prov#>

    SELECT ?output ?label ?value ?unit ?expexec
    WHERE {
        ?output a solar:Output ;
            rdfs:label ?label ;
            qudt:numericValue ?value ;
            qudt:unit ?unit ;
            prov:wasGeneratedBy ?expexec .
    }

""")

for row in q_res:
    print(f"{row.output} {row.label} {row.value} {row.unit} {row.expexec}")

In [ ]:
q_res = g.query("""    
    PREFIX bibo: <http://purl.org/ontology/bibo/>
    PREFIX dc: <http://purl.org/dc/elements/1.1/>
    PREFIX solar: <https://w3id.org/solar/o/core#>
    PREFIX solarpc: <https://w3id.org/solar/o/pc#>
    PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
    PREFIX qudt: <http://qudt.org/2.1/schema/qudt/>
    PREFIX prov: <http://www.w3.org/ns/prov#>

    SELECT (COUNT (DISTINCT ?output) AS ?count)
    WHERE {
        ?output a solar:Output ;
            rdfs:label ?label ;
            qudt:numericValue ?value ;
            qudt:unit ?unit ;
            prov:wasGeneratedBy ?expexec .
    }

""")

for row in q_res:
    print(f"Number of outputs with all properties: {row['count'].value}")

Number of outputs with all properties: 18028

## Merging KGs into one

In [18]:
!cat result/solarchem.nt result/outputs-solarchem.nt | uniq > result/solarchem-kg.nt

## Finding chemical concepts in CHEBI and Wikidata

### Create a list of unique values of chemicals mentioned in the data

In [30]:
exp_df = pd.read_csv("data/catalystsdata.csv")
exp_df.head()

,ID,No_de_Ref,Catalyst_name,TiO2_crystal_structure,Catalyst,Support,support_percent,Co_catalyst,co_catalyst_2,co_catalyst_3,...,C4H10_mol_m2h,C5H10_mol_m2h,C5H12_mol_m2h,CH3OH_mol_m2h,C2H5OH_mol_m2h,CH3COH_mol_m2h,HCOOH_mol_m2h,CH2O_mol_m2h,C2H4O2_mol_m2h,timestamp
0,1,1,TiO2,Anatase,TiO2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.01,NaN,NaN,NaN,NaN,NaN,0000-00-00 00:00:00
1,2,1,TiO2,Anatase,TiO2,NaN,NaN,Ag,NaN,NaN,...,NaN,NaN,NaN,0.01,NaN,NaN,NaN,NaN,NaN,0000-00-00 00:00:00
2,3,1,Ag/TiO2,Anatase,TiO2,NaN,NaN,Ag,NaN,NaN,...,NaN,NaN,NaN,0.01,NaN,NaN,NaN,NaN,NaN,0000-00-00 00:00:00
3,4,1,Ag/TiO2,Anatase,TiO2,NaN,NaN,Ag,NaN,NaN,...,NaN,NaN,NaN,0.02,NaN,NaN,NaN,NaN,NaN,0000-00-00 00:00:00
4,5,1,Ag/TiO2,Anatase,TiO2,NaN,NaN,Ag,NaN,NaN,...,NaN,NaN,NaN,0.03,NaN,NaN,NaN,NaN,NaN,0000-00-00 00:00:00

List of output formulas that appear as columns

In [31]:
outputs = pd.Series([
    'H2',
    'CO',
    'CH4',
    'C2H4',
    'C2H6',
    'C3H6',
    'C3H8',
    'C4H8',
    'C4H10',
    'C5H10',
    'C5H12',
    'CH3OH',
    'C2H5OH',
    'CH3COH',
    'HCOOH',
    'CH2O',
    'C2H4O2'
])

In [32]:
chems_df = pd.DataFrame()
chems_df['Chemicals'] = pd.concat([exp_df['Catalyst'], exp_df['Support'], exp_df['Co_catalyst'], exp_df['co_catalyst_2'], exp_df['co_catalyst_3'], exp_df['Dopant'], exp_df['Dyes'], exp_df['Reductant'],outputs]).unique()
chems_df

     Chemicals
0         TiO2
1         ZrO2
2       Carbon
3      b-Ga2O3
4      Zn2GeO4
...        ...
1052     C5H12
1053    C2H5OH
1054    CH3COH
1055      CH2O
1056    C2H4O2

[1057 rows x 1 columns]

### Find correspondences of mentions with CHEBI via EBI API
https://www.ebi.ac.uk/ebisearch/documentation/rest-api

In [20]:
chems_df = pd.read_csv("data/chemicals.csv", dtype={'chebi': str})
chems_df

,Chemicals,chebi,wikidata,wikidata_multiple,chebi_multiple,uri
0,TiO2,32234.0,Q193521,NaN,NaN,http://www.wikidata.org/entity/Q193521
1,ZrO2,NaN,NaN,NaN,NaN,http://w3id.org/solar/i/Chemical/ZrO2
2,Carbon,NaN,NaN,NaN,"23012,50814,50813,36928,23014,30253,149691,294...",http://w3id.org/solar/i/Chemical/Carbon
3,b-Ga2O3,NaN,NaN,NaN,"59216,36586,22702,50860",http://w3id.org/solar/i/Chemical/b-Ga2O3
4,Zn2GeO4,NaN,NaN,NaN,NaN,http://w3id.org/solar/i/Chemical/Zn2GeO4
...,...,...,...,...,...,...
1039,KHCO3 and H2SO4,NaN,NaN,NaN,NaN,http://w3id.org/solar/i/Chemical/KHCO3+and+H2SO4
1040,H2O:TEOA,NaN,NaN,NaN,NaN,http://w3id.org/solar/i/Chemical/H2O%3ATEOA
1041,Ethyl Acetate EA,NaN,NaN,NaN,"26347,23849,33853",http://w3id.org/solar/i/Chemical/Ethyl+Acetate+EA
1042,TEOA:MeCN 1:4,NaN,NaN,NaN,NaN,http://w3id.org/solar/i/Chemical/TEOA%3AMeCN+1...
1043,0,NaN,NaN,NaN,"85683,131417,137873,145242,134558,73841,131416...",http://w3id.org/solar/i/Chemical/0

In [33]:
headers = {'Accept': 'application/json'}
query = 'https://www.ebi.ac.uk/ebisearch/ws/rest/chebi?query={}'
jsonpath = parse('$.entries[*].id')

chebi_id = {}
chebi_multiple = {}
for label in chems_df['Chemicals']:
    
    response = requests.get(query.format(label), headers=headers)
    
    if response.status_code == 200:
        if len(response.json()['entries']) == 0:
            chebi_id[label] = ''
        elif len(response.json()['entries']) == 1:
            chebi_id[label] = str(response.json()['entries'][0]['id'])
            print(chebi_id[label])
        else:
            res_list = [match.value for match in jsonpath.find(response.json())]
            chebi_multiple[label] = ','.join(res_list)
            print(chebi_multiple[label])
    else:
            chebi_id[label] = ''

32234
23012,50814,50813,36928,23014,30253,149691,29436,35605,36927,36929,36930,50809,35604,139538
59216,36586,22702,50860
31652,63616,63722,51867,32877,35358,25212
50836
30187,30191,30192
31344
31794
81908
29390
36973,134404,132889,50594,33418,50797,50596,50595,36977,50803,33415,46730,132888,50860
36973,132889,132888,33418,50860
79089
50832,50833
30341
133333
27363,30185,37254,37255,29105,133337,88218,133340,49976,36578
36973,132889,132888,33418,50860
85287,90970,2341,142482,140626,140627,90980,136820,142483,142024,77193,77196,21345,21412,143102
27573,30584,30582,30586,30585,48150,33478,59830,37171,53393,77023,84275,37172,48139,30581
88916,88729,89101,89172,89179,89292,89293,89294,89500,89534,89535,89544,89547,89560,89692
51110,51113,51115
67195,62488,17138,42626
50818,50819,50824,139548
64132,64131,64123,45744,82851,9423,33517,48279,46848,46845,48367,25697,35274
50836
32234
137381,137373,137379
30399,28112,49786,137381,144805,85620,137373,47739,177874,133340,144804,25516,61258,137379,35677
75955
30704,50875
36826,29307,17514,29306,33517,16830
50860
50860
50796
29287,30030,30050,50825
33364,33400,75318,33398,52387,50831
61484,53232,33839,60027
35610
27638,48828,85033,49415,74266,53306,26178,53284,131895,61465,85604,23016,23336,176591,61646
131895
142491,28262,37142,92211,37141,37143,26878,35681,48706,15734,25000,2468,18379,46850,50846
29308,17514,50796
51221,38574,38573,36158,60562,25248,26421
88019,86224
58945
30551,30545,30546,30544
48242
133337
30563
29033
45296,134805,32140,29425,29426,29441,29447,31319,52295,17303,7542,34967
46726,50821
47882,53263,19203,38077,47038,36317,36316,51590,47883,36309,26932,33833,38101
174977,38163,38101
33341,134436,52137,50950,50880,82802
52200,51217
29036,28694,30052,49552,51111,29037,23378,75044,75046
50860
41198
47344
51116,51114
7438
52991,50879,52990,22842,22843,22841,61368,78074,52231,52232,52233,52234,52235,52230,35036
74876,29159,73642,144555,73512,142783,73440,73518,91269,73831,10047,8001,152557,72488,133028
47564
50834,50835
53263,133489,133488,50406,33575,50860
30664
30664
52754,52755,52756,52757,52759,52760,52762,50853
36615,23849,76969
32178,50860
82533,50860
25248,33575,26421,25212
30045
142491,28262,37142,92211,37141,37143,26878,35681,48706,15734,25000,2468,18379,46850,50846
50809,50808,50799,50810,50594,50813,50798,50797,50595,50596,50807,50812,50806,50800,50801
140499,140503,48730,75324,55323,60004
61428,53682,53681,61427,60804,53310
133353,133354,48730,60004
36977,33418,36978,131896,132888,132889,36973,50814,46730,50803,33417,33415,50860
33429,50860
23012,50814,50813,36928,23014,30253,149691,29436,35605,36927,36929,36930,50809,35604,139538
82586,60737,53284,172368,37997,60029,50860
34565
50808,50796
57704,16261,22506,72813,73182,35274,75772
50860
82365
133354,133353,48730,60004
50808,50796
136511
27594,29434,29435,64656,29436,29950,15356,75307,33418,30039,30040,33417,36977,36978,33419
53245,53248,82780,82783,82784
16481,32285,57431,75178,91240,134711,41480,15832,57415,9889,88276,44383,140936,5850,16199
151129
91384
9141,30512,49468,156535,82778,82780,82781,82783,82784,82785,82786,50826
33359,63597
30682,30685,30686,90223,149729,149755,149727,149745,149747,149749,149750,149752,149754,149758,149728
33363,91075,91077
28073,49544,33008,33009,33006,33010,33007,50076,53404,53245,53246,53247,51517,53248,60379
22977,48775,37130,37249,77732,87720,90695,132657,79391,65041,53330,65400,65580,134689,3576
32145,53448
75142,133353
87194,78408,133353
85620,47739,177874,61258,144804,35677
65748,28362,66193,65382,65385,65442,66192,68860
35696
53470
26710
29287,30030,30050,50825
26833,29832,15138,29999,29316,29830,29831,29833,33411,87,17721,9578,46430,58411,50235
50292
33336,37317,49701
33369,37264,48782
33342,51000
18248,29034,82664,29033,50823,131371,17423,86238,133333,50824,133337,139552,68438,143010,5044
50860
82780,82783,82784,82785,82786,75404,82781,82776,82778,138841,131968,78331,94668,145374,138885
28685,49446,30511,135936,61145,71306,53393,71308,71310,73094,82685,60538,30409,83233,37239
61474,61477,53198,53194,53196,61476,61479,61480,61475,53195,53197,53723,33839,60027
66991
49976
30812
50860
33301,85545,90399,90403,61344,83174,83176,83177,83178,83179,90402,147303,75046,65716,25461
57704,16261,22506,72813,73182,35274,75772
36586,25696,23357,58941,76964,33282,18379,76969,134362,50860,76971,33281
157903,30360,39095,39096,27642,32888,74949,466659,60384,59446,63012,75784,166872,52373,52374
38071,30259,38930,1040,38074,38057,27726,38928,63953,34934,27399,34976,30264,15930,72475
23357,76969
53394
18291,29035,25158,35154,29041,33011,245199,25155,29681,150430
133333
25016,49807,30180,27889,177890,77245,50860
28659,33468,33467,33469,60949,30206,30207,33466,145885,138459,145607,51650,58529,60155,89236
24859,30009,16382,156352,145921,156301,156354,138582,145923,146155,156320,156321,57403,67185,156322
82546,9570
23116,30120,17996,53306,30334,78067,63933,144979,36719,36721,36718,36720,36722,85782,52258
73661
73661
133333
30114
9533
28984,30150,30151,33629,49470,83862,83863,147353,799,149533,16466,86096,144060,144063,63848
155903
30236,30237,30238,17051,76159,77982,36890
24061,30240,28044,30237,29997,17051,65910,74931,74934,30239,36895,50893,26979,35618,33281
32130
82200,82699,41688,84828,155001,61832,146726,152648,147638,150102,155166,149259,151157,154047,154444
33324,37132,35104,59785,52470,52477,59798,59799,59795,51277,51278,59802,59792,59797,59800
63631
65310
133326
25107,18420,87194,133353,33974,39127,78408
76480,75943,76482,75829,78434,76372,38383,36203,75942,60956,32385,48502,10275,32409,76113
30168,30167,30166,27560,30165,75782,75769,51685,30169,30170,33610,39214,58596,39230,60145
32594,37136,32595,37137,39125,39126
144677,45993,59101,141775,31263,80110,48587,137114,48535,79091,83575,50860
76054,76087,76086,76077,76080
22984,29108,29320,39099,52255,52257,52258,176898,52254,131794,60186,39123,39124,176897,137425
25555,29240,29352,36825,33792,22653,17196,30229,30226,30227,30228,30230,29351,33268,36934
30145,49713,30144,48607
30430,30433,37115,75632,75630,75633,75621,15637,31624,81908,51110,51114,68509,81539,18222
25805,29356,29354,29355,29193,29194,33264,53201,53202,28006,76103,52938,51165,90368,133245
86237,86303,86306,86310,73698,88778,86312,73697,77751,86233,86304,86307,86311,136715,35739
143775,143774,74712,59055,143010,143023,4356,25696,61345,53415,134362,50860,36586,18379,76971
24061,30240,28044,30237,29997,17051,65910,27595,72595,72593,149621,149624,28158,28442,73741
33379,52465,42371,64110,63949,134679,42156,66037,66047,176517,132781,66043,131730,90954,85310
78616,75416,76706,53199,17056,90310,51921,132560,16646,63630,23420,139113,76710,141059,60190
144426,29034
33815,25806,33693,33819,36932,149692,60905,50081,61073,37896,25805,33818,33264,36933,70982
145070
27698,33002,35170,33004,33003,33005,30015,35172,133598,53393,31430,77658,83665,84561,77894
33374,49890
36068,36070,33631,36071
28833
28976
33322,49847,33496,38269,50980,50982
26216,29104,25094,29967,29103,18019,32588,32030,66872,64406,88321,28384,55347,64338,8346
26708,29102,29101,28741,33167,76209,35607,63510,146151,76208,86431,472805,31319,133353,146207
28073,49544,33008,33009,33006,33010,33007,50076,53404,53245,53246,53247,51517,53248,60379
18248,29034,82664,29033,50823,131371,17423,86238,133333,50824,133337,139552,68438,143010,5044
82780,82783,82784,82785,82786,75404,82781,82776,82778,138841,131968,78331,94668,145374,138885
85384,64144,64145,39025,65415
53231
80495,4325,139473,82316,35618
35618
33375,37286,37294,73893,68841,31644
37143,140325
48237,29239,146278,15378,29293,30479,29979,15971,29235,29303,29304,29305,33251,46711,48238
138432,138434
138432,138434
59838,48379,47846
29121,29424,29120,29272,35801,15429,52855,24835,24838,64770,64776,47838,74768,75878,133249
22927,15858,22972,47265,48360,39141,39142,38981,37527,138103,22695,33117,36896,36900
33344,84912,85337,85509,84913,134015,134016,146030
32990,17909,30475,30476,27007,78184,156324,78225,78171,78172,78169,78196,77000,77001,78879
33128,88015,139561,88021,139562
36973,134404,132889,50594,33418,50797,50596,50595,36977,50803,33415,46730,132888,50860
29275,29277,29278,17997,156463,21818,134095,134096,91091,30105,30106,30107,30108,29276,33266
83318,78249,83413,83432,83415,29448,36825,35108,83571
30979,30982,133487,30792,133485,133486,30985,30351
139291,2976,61721,58416,28966,73095,73096,38199,58716,77670,38202,38203,29709,167885,18230
155903
60616,53222,60620,53229,30856,60678,60618,60622,60667,60621,60617,53228,53322,53308,53446
52931,52358,52932,30351,30792,133485,133486,64999,69227,133487,69231,6339,52359,69235,30979
52896
52200,51217
49798,39474,166831
15377
16183,29439,29440
30751
18276,84737,140447,84736,32000,29293,29295,29296,29297,145662,140450,140453
26607,39417,85283,36388,133249,83955,36389,39418,71668,142092,133291,64623,58953,76928,84587
72649,62602,72696,72650,62600,61041,72705,77931,77824,84568,62603,62510,61039,90525,61044
82413,144331,75132,75126,75131,31191,76260,45086,64198,17824,46645,61022,3127,156577,3082
27385
25409,51683,26658,35618,33853,24828,27171,35681,36683,77746,25212
81862
17790,74838,48360,28148,76107,131631,60004,75771,76971,77746
78870
81862
32139
62955,67099,91159,39005,39010,39006,39011,39408,33554,33551,38785
86477
17883,67202,73228
17790
52634,63510,137066,137090,89308,62410,138872,46667,38633,46666,137070,31270,133947,86473,33696
38137,17790,27615,28182,24814,62150,62527,156265,156213,59652,41883,88143,207496,155904,82559
62367,82337,85302,17141,85262,85299,146186,71464,16000,71466,64032,43980
76336,22469,76260,38868,132587,131607,141221,18917
16236,1879,83166,67144,38736,64803,28410,46144,61238,17890,63861,17957,50687,73248,49000
18099,75731,75725,59065,132899,89236,25187,75733,32327,9944,32250,32346,75734,9648,70479
53449,46793,53709,53378,139326,78708,63052,32027,46550,15830,53259,61452,39558,91323,53515
79034,156507,72564,84605,16330,50860
35026,3752,39054,39065,132755,39011,23981,52153,28621,35225,35195,16000,23824,27136,50996
2155,2160,2161,2305,2303,5380,77419,74408,2304,2302,85061,2301,84598,53378,17170
149772,17790
33599,27171,38101,36683,38106,37407,37143,35727,37141,75050,72588,48960,37948,78840,50994
83629,28621,35026,132753,15882,63444,17394,31018,27732,28177,145276,156271,9518,28857,141542
50995,50996
76208
33813,27314,33811,33806,29374,29375,86250,86247,18219,131394,131378,132765,9179,15377,132095
16526,29325
16526,29325
17566,38472,88381,47841,183064,16667,27382,17346,65022,82541,64988,137676,79191,51853,27826
24400,77746,33281
18099,75731,75725,59065,132899,89236,25187,75733,32327,9944,32250,32346,75734,9648,70479
30479,85044,85045,85042,85043
50985
26836
27750,87392,4893,86055,78406,77700,78405,71637,135659,38750,63597,6441,59605,34626,47622
131526
278547
27750
174916,30879,33853
27750,87392,4893,86055,78406,77700,78405,71637,135659,38750,63597,6441,59605,34626,47622
17987,156310,136548,22743,146174,27995,137674,67410,49000,31268,5325,41237,52051,669,156103
27750,87392,4893,86055,78406,77700,78405,71637,135659,38750,63597,6441,59605,34626,47622
53378,53709,139326,30742,46793,53360,53436,78770,53541,139322,30741,53259,61452,53761,30740
72343,72344
55470,133945,55473,133947,55440,31630,91991,55475,32592,4470,55472,90959,42719,90960,55442
17566,38472,88381,47841,183064,16667,27382,17346,65022,82541,64988,137676,79191,51853,27826
9456,136988,136989,136990,138793,136991,85174,89607,53081,71465,73849,85253,85263,85262,85299
26347,23849,33853
85683,131417,137873,145242,134558,73841,131416,137147,91313,91297,91299,140862,167296,167297,85870
17245,58072,29333,29334,74266,53306,26178,53284,131895,61465,85604,23016,176591,61646,61992
29362,29853
29858,30365,65236
32879
30963,30377,48362,43907,48365,48366,48361,48363
30363
23492,77914,77915,77916
30358,30362
16236
79073
77699,131198

In [34]:
chems_df['chebi'] = chems_df['Chemicals'].map(chebi_id)
chems_df['chebi_multiple'] = chems_df['Chemicals'].map(chebi_multiple)
chems_df

     Chemicals  chebi                                     chebi_multiple
0         TiO2  32234                                                NaN
1         ZrO2                                                       NaN
2       Carbon    NaN  23012,50814,50813,36928,23014,30253,149691,294...
3      b-Ga2O3    NaN                            59216,36586,22702,50860
4      Zn2GeO4                                                       NaN
...        ...    ...                                                ...
1052     C5H12    NaN                                        30358,30362
1053    C2H5OH  16236                                                NaN
1054    CH3COH                                                       NaN
1055      CH2O  79073                                                NaN
1056    C2H4O2    NaN                                       77699,131198

[1057 rows x 3 columns]

In [35]:
chems_df.to_csv("data/chemicals.csv", index=False, sep=",")

### Find corresponences with Wikidata via SPARQL endpoint

In [36]:
chems_df = pd.read_csv("data/chemicals.csv", dtype={'chebi': str})
chems_df

     Chemicals  chebi                                     chebi_multiple
0         TiO2  32234                                                NaN
1         ZrO2    NaN                                                NaN
2       Carbon    NaN  23012,50814,50813,36928,23014,30253,149691,294...
3      b-Ga2O3    NaN                            59216,36586,22702,50860
4      Zn2GeO4    NaN                                                NaN
...        ...    ...                                                ...
1052     C5H12    NaN                                        30358,30362
1053    C2H5OH  16236                                                NaN
1054    CH3COH    NaN                                                NaN
1055      CH2O  79073                                                NaN
1056    C2H4O2    NaN                                       77699,131198

[1057 rows x 3 columns]

In [37]:
sparql = SPARQLWrapper(
    "https://query.wikidata.org/sparql"
)
sparql.setReturnFormat(JSON)

query = """
    SELECT DISTINCT ?chem ?chebi_wd
    WHERE
    {{
      ?chem wdt:P683 ?chebi_wd ;
            skos:altLabel "{}"@en .
    }} 
"""

jsonpath = parse('$.results.bindings[*].chem.value')

In [38]:
wd_id = {}
wd_multiple = {}
for label in chems_df['Chemicals']:
    
    time.sleep(0.5)
    wd_id[label] = ''
    sparql.setQuery(query.format(label))
    
    try:
        res = sparql.queryAndConvert()
        
        if len(res['results']['bindings']) == 0:
            wd_id[label] = ''
        elif len(res['results']['bindings']) == 1:
            wd_id[label] = res['results']['bindings'][0]['chem']['value'].replace('http://www.wikidata.org/entity/', '')
            print(wd_id[label])
        else:
            js_res = jsonpath.find(res)
            res_list = [match.value for match in jsonpath.find(res)]
            wd_multiple[label] = ','.join(res_list).replace('http://www.wikidata.org/entity/', '')
            print(wd_multiple[label])
            
    except:
        wd_id[label] = ''

Q193521
Q190077
Q214769
Q412356
Q216918
Q758
Q670
Q205021
Q744
Q186357
Q424257
Q897
Q880
Q27104633,Q740
Q116269,Q43010
Q428946
Q716
Q753
Q425127
Q409173
Q2380192
Q407674
Q186474,Q27089394,Q623
Q56440222
Q423673
Q1090
Q1087
Q1086
Q1089
Q26841311,Q725
Q1091
Q102769
Q407849
Q414860
Q411214
Q2314
Q183290,Q682
Q414806
Q421857
Q1801
Q1385
Q1038
Q677
Q27144155
Q1053
Q204714
Q407867
Q27158631,Q942
Q731
Q708
Q484583,Q20035886,Q674
Q484940,Q1103
Q72499282
Q688
Q314036
Q27104698,Q663
Q1963030
Q207442
Q938
Q660
Q618
Q1112
Q4847704
Q706
Q185906,Q29519883,Q627
Q568
Q1094
Q629
Q27143862
Q170545,Q27103475
Q1849
Q428946
Q483752,Q722
Q1819
Q27104698
Q895
Q243547,Q20816880,Q703
Q658
Q737
Q27144218,Q1832
Q485277,Q60168
Q315860
Q207843
Q879
Q1046
Q1096
Q2370426
Q209143
Q283
Q37129
Q161233
Q3027893
Q16392
Q410529
Q339975
Q179731
Q407806
Q211086
Q14982
Q410387,Q617563
Q16392
Q423282
Q192642
Q408022,Q27098592
Q14982
Q410728
Q407895
Q4118
Q424314
Q379885
Q407577
Q27144175
Q2025
Q153

In [39]:
outputs_wd = {
    'H2': 'Q3027893',
    'CO': 'Q2025',
    'CH4': 'Q37129',
    'C2H4': 'Q151313',
    'C2H6': 'Q52858',
    'C3H6': 'Q151324',
    'C3H8': 'Q131189',
    'C4H8': 'Q151335',
    'C4H10': 'Q134192',
    'C5H10': 'Q151353',
    'C5H12': 'Q2799651',
    'CH3OH': 'Q14982',
    'C2H5OH': 'Q153',
    'CH3COH': 'Q61457',
    'HCOOH': 'Q161233',
    'CH2O': 'Q161210',
    'C2H4O2': 'Q47512',
}
wd_id.update(outputs_wd)

In [40]:
chems_df['wikidata'] = chems_df['Chemicals'].map(wd_id)
chems_df['wikidata_multiple'] = chems_df['Chemicals'].map(wd_multiple)
chems_df

,Chemicals,chebi,chebi_multiple,wikidata,wikidata_multiple
0,TiO2,32234,NaN,Q193521,NaN
1,ZrO2,NaN,NaN,,NaN
2,Carbon,NaN,"23012,50814,50813,36928,23014,30253,149691,294...",,NaN
3,b-Ga2O3,NaN,"59216,36586,22702,50860",,NaN
4,Zn2GeO4,NaN,NaN,,NaN
...,...,...,...,...,...
1052,C5H12,NaN,"30358,30362",Q2799651,NaN
1053,C2H5OH,16236,NaN,Q153,NaN
1054,CH3COH,NaN,NaN,Q61457,NaN
1055,CH2O,79073,NaN,Q161210,NaN
1056,C2H4O2,NaN,"77699,131198",Q47512,NaN

In [41]:
chems_df.to_csv("data/chemicals.csv", index=False, sep=",")

### Creating subject URI

In [42]:
chems_df = pd.read_csv("data/chemicals.csv", dtype={'chebi': str})
chems_df

,Chemicals,chebi,chebi_multiple,wikidata,wikidata_multiple
0,TiO2,32234,NaN,Q193521,NaN
1,ZrO2,NaN,NaN,NaN,NaN
2,Carbon,NaN,"23012,50814,50813,36928,23014,30253,149691,294...",NaN,NaN
3,b-Ga2O3,NaN,"59216,36586,22702,50860",NaN,NaN
4,Zn2GeO4,NaN,NaN,NaN,NaN
...,...,...,...,...,...
1052,C5H12,NaN,"30358,30362",Q2799651,NaN
1053,C2H5OH,16236,NaN,Q153,NaN
1054,CH3COH,NaN,NaN,Q61457,NaN
1055,CH2O,79073,NaN,Q161210,NaN
1056,C2H4O2,NaN,"77699,131198",Q47512,NaN

In [43]:
uri = {}
for index, row in chems_df.iterrows():
    if not pd.isna(row['wikidata']):
        uri[row['Chemicals']] = 'http://www.wikidata.org/entity/' + row['wikidata']
    elif not pd.isna(row['chebi']):
        uri[row['Chemicals']] = 'http://purl.obolibrary.org/obo/CHEBI_' + str(row['chebi'])
    else:
        uri[row['Chemicals']] = 'http://w3id.org/solar/i/Chemical/' + urllib.parse.quote_plus(str(row['Chemicals']))

chems_df['uri'] = chems_df['Chemicals'].map(uri)
chems_df

,Chemicals,chebi,chebi_multiple,wikidata,wikidata_multiple,uri
0,TiO2,32234,NaN,Q193521,NaN,http://www.wikidata.org/entity/Q193521
1,ZrO2,NaN,NaN,NaN,NaN,http://w3id.org/solar/i/Chemical/ZrO2
2,Carbon,NaN,"23012,50814,50813,36928,23014,30253,149691,294...",NaN,NaN,http://w3id.org/solar/i/Chemical/Carbon
3,b-Ga2O3,NaN,"59216,36586,22702,50860",NaN,NaN,http://w3id.org/solar/i/Chemical/b-Ga2O3
4,Zn2GeO4,NaN,NaN,NaN,NaN,http://w3id.org/solar/i/Chemical/Zn2GeO4
...,...,...,...,...,...,...
1052,C5H12,NaN,"30358,30362",Q2799651,NaN,http://www.wikidata.org/entity/Q2799651
1053,C2H5OH,16236,NaN,Q153,NaN,http://www.wikidata.org/entity/Q153
1054,CH3COH,NaN,NaN,Q61457,NaN,http://www.wikidata.org/entity/Q61457
1055,CH2O,79073,NaN,Q161210,NaN,http://www.wikidata.org/entity/Q161210
1056,C2H4O2,NaN,"77699,131198",Q47512,NaN,http://www.wikidata.org/entity/Q47512

In [44]:
chems_df.to_csv("data/chemicals.csv", index=False, sep=",")